
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f5f5f5;
}

th {
    background-color: #3498db;
    color: white;
}


td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

tr:hover {
    background-color: #ddd;
