<!DOCTYPE html>
<html>
<head>
    <title>Informações de Vendas</title>
</head>
<body>
<h1>Informações de Vendas</h1>

<form action="/api/Sales/save" method="post">
    <label for="employeeID">ID do Funcionário:</label>
    <input type="text" id="employeeID" name="employeeID"><br><br>

    <label for="year">Ano:</label>
    <input type="text" id="year" name="year"><br><br>

    <label for="month">Mês:</label>
    <input type="text" id="month" name="month"><br><br>

    <input type="submit" value="Enviar">
</form>
</body>
</html>
